<div class="notesGrid">
    {{#each notes}}
    
        <div class="notes {{#if this.finalizada}}notes__finalizada{{/if}}" >
            
            <h2 class="notes__titulo">{{this.titulo}}</h2>
            <textarea class="notes__content" readonly disabled placeholder="Conteúdo">{{this.conteudo}}</textarea>
            <div class="notes__footer">
                <span class="notes__data">{{date this.data_criacao}}</span>
                <form action="/finalizarNota" method="POST">
                    <input type="hidden" name="notaId" value="{{this._id}}">
                    <button type="submit" class="notes__footer--btn finalizarBtn">
                        <i class="material-icons">{{#if this.finalizada}}unpublished{{else}}task_alt{{/if}}</i>
                        <span>Concluir</span>
                    </button>
                </form>
                <button class="notes__footer--btn editBtn" onclick="openModal_editarNota('{{json this}}')">
                    <i class="material-icons">mode_edit_outline</i>
                    <span>Editar</span>
                </button>
                <button class="notes__footer--btn deleteBtn" onclick="openModal_removerNota('{{json this}}')">
                    <i class="material-icons">delete</i>
                    <span>Deletar</span>
                </button>
            </div>

        </div>
    
        {{else}}
    
        <div class="notes emptyNotes">
            <i class="material-icons">speaker_notes_off</i>
            <span>Sem notas criadas...</span>
        </div>

    {{/each}}
</div>